html{
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: rgb(32, 43, 54);
}

body{
    margin:0;
    padding:0;
    overflow: hidden;
    /* image-rendering: optimizeSpeed; */
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;

    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

#canvas{
    margin:0;
    padding:0;
    overflow: hidden;
    position: absolute;
    width:'900px';
    height:'600px';
    background: linear-gradient(-12deg, rgb(26, 46, 100), rgb(0, 93, 121), rgb(103, 172, 179));
    font-family: 'Orbitron', sans-serif;
}

img{
    display: none;
    image-rendering: -webkit-optimize-contrast;
}

